.container {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.list {
    display: flex;
    list-style: none;

}

.item {
    margin-right: 10px;
}
.btn a {
    display: flex;
    align-items: center;
}